body{
background: green;

}

.p1{
  color: antiquewhite;
}

/* Aula 3 de css */
article {

  width: 200px;
  margin: 0 auto;
}

.container {
  background: red;
}

#texto-1 {
  color: white;
}

#texto-2 {
  color: yellow;
  padding: 30px;
}

